<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASCII Validator</title>
</head>
<body>
    <h1>Ascii Validator</h1>
    <p>Please input your text and get the textbox:</p>
    {% if input_text %}
    <p>{{ input_text }}</p>
    <p>{{ bad_chars }}</p>
    {% endif %}
    <form action="/" method="POST" name="text_form">
        <label for="input"> Please enter your text!</label>
        <input type="text" id="input" name="input_text">
        <input type="submit" value="Submit">
    </form>
</body>
</html>