<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ASCII Validator</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Ascii Validator</h1>
    <p>Please input your text in the textbox for checking:</p>

    <form action="/" method="POST" name="text_form" id="txt_form">
        Please enter your text!
        <input type="submit" value="Submit">
    </form>
    <textarea name="text_field" rows="35" cols="50" form="txt_form"></textarea>
</body>
</html>